.botao:hover {
    background-color: yellow;
}

.paragrafo::first-letter {
    color: violet;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lista__item::first-letter {
    color: violet;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.campo1:focus {
    color: green;
    font-weight: bolder;
}

.lista__item:nth-child(3) {
    background-color: turquoise;
    border: solid black;
    border-radius: 5px;
    font-size: 20px;

}

.campo1:disabled {
    background: greenyellow;
}

.campo2:enabled {
    background-color: hotpink;
}

input[type="radio"]:checked {
   margin-left: 25px;
    background: yellowgreen;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: tomato;
}